@import "./assets/Inter/inter.css";
@import "frappe-ui/src/style.css";

ion-modal {
	--height: auto;
}

input:disabled {
	--webkit-text-fill-color: var(--tw-text-color);
	opacity: 0.9; /* required on iOS */
	color: var(--tw-text-color);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
input::-webkit-date-and-time-value {
	text-align: left;
}

body {
	-webkit-tap-highlight-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
header{
	background: rgb(30 58 138) !important;
	color: white !important;
}
header h2{
	color: white !important;
	margin-left: 10px !important;
}
header button{
	background: white !important;
	color: rgb(30 58 138) !important;
}

svg{
	color: teal !important;
}

a div{
	color: teal !important;
}
a{
	color: teal !important;

}

	